<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Delimeter" value="//"/>
    <add key="Blank" value="!BLANK!"/>
    <add key="OrderStart" value="["/>
    <add key="OrderEnd" value="]"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
